td,
th,
tr,
table {
    text-align: center;
    background-color: rgb(212, 226, 230);
    border-style: double;
    margin: auto;
}

h1 {
    text-align: center;
    color: yellow;
    font-weight: bold;
}

footer {
    text-align: center;
}

form {
    background-color: rgb(212, 226, 230);
    width: 40%;
    margin: auto;
}

.twitter-timeline {
    position: fixed;
    float: right;
    width: 50%
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    width: 100%;
    text-align: center;
    background-color: yellow;
}